@model Basketball_Project.Models.PlayerInfo

@{
    ViewBag.Title = "Add New Player";
}

<h2 id="indexTableHead">Add New Player</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-horizontal">
    <h4>Player Info</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <label class="control-label col-md-2">Picture URL</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Picture,
                                        new { htmlAttributes = new { @class = "form-control col-md-6" } })
            @Html.ValidationMessageFor(model => model.Picture, null, new { @class = "text-danger col-md-6" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Team, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Team, null, new { htmlAttributes = new { @class = "form-control toUpper" } })
            @Html.ValidationMessageFor(model => model.Team, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Position, null, new { htmlAttributes = new { @class = "form-control toUpper" } })
            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Points, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Points, null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Assists, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Assists, null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Assists, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Rebounds, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Rebounds, null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rebounds, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>
}


<a class="btn btn-primary infoButton" data-toggle="modal" data-target=".positionDetails"><span class="glyphicon glyphicon-eye-open glyphicon-align-right"></span>Position Details</a>

<div class="modal fade positionDetails">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close"> <span>&times;</span></button>
                <div class="modal-title"><h1>NBA Positions</h1></div>
            </div>
            <div class="modal-body">
                <p>
                    1. Point Guard = PG<br /><br />
                    2. Shooting Guard = SG<br /><br />
                    3. Small Forward = SF<br /><br />
                    4. Power Forward = PF<br /><br />
                    5. Center = C
                </p>
                <hr />
                <p>Use the two letter code which corresponds to the player's position.</p>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-primary infoButton2" data-toggle="modal" data-target=".teamDetails"><span class="glyphicon glyphicon-eye-open glyphicon-align-right"></span>Team Details</a>

<div class="modal fade teamDetails">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close"> <span>&times;</span></button>
                <div class="modal-title"><h1>NBA Teams</h1></div>
            </div>
            <div class="modal-body">
                <p>Use the three letter code which corresponds to the player's current team.</p>
                <hr />
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/atlanta.jpg" /><p class="text-center">Atlanta Hawks = ATL</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/boston.jpg" /><p class="text-center">Boston Celtics = BOS</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/brooklyn.jpg" /><p class="text-center">Brooklyn Nets = BKN</p><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/charlotte.jpg" /><p class="text-center">Charlotte Hornets = CHA</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/chicago.jpg" /><p class="text-center">Chicago Bulls = CHI</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/cleveland.jpg" /><p class="text-center">Cleveland Cavaliers = CLE</p><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/dallas.jpg" /><p class="text-center">Dallas Mavericks = DAL</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/denver.jpg" /><p class="text-center">Denver Nuggets = DEN</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/detroit.jpg" /><p class="text-center">Detroit Pistons = DET</p><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/golden.jpg" /><p class="text-center">Golden State Warriors = GSW</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/houston.jpg" /><p class="text-center">Houston Rockets = HOU</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/indiana.jpg" /><p class="text-center">Indiana Pacers = IND</p><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/lac.jpg" /><p class="text-center">Los Angeles Clippers = LAC</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/lal.jpg" /><p class="text-center">Los Angeles Lakers = LAL</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/memphis.jpg" /><p class="text-center">Memphis Grizzlies = MEM</p><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/miami.jpg" /><p class="text-center">Miami Heat = MIA</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/milwaukee.jpg" /><p class="text-center">Milwaukee Bucks = MIL</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/minnesota.jpg" /><p class="text-center">Minnesota Timberwolves = MIN</p><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/orleans.jpg" /><p class="text-center">New Orleans Pelicans = NOP</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/newyork.jpg" /><p class="text-center">New York Knicks = NYK</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/okc.jpg" /><p class="text-center">Oklahoma City Thunder = OKC</p><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/orlando.jpg" /><p class="text-center">Orlando Magic = ORL</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/philly.jpg" /><p class="text-center">Philadephia 76ers = PHI</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/phoenix.jpg" /><p class="text-center">Phoenix Suns = PHX</p><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/portland.jpg" /><p class="text-center">Portland Trail Blazers = POR</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/sacremento.jpg" /><p class="text-center">Sacramento Kings = SAC</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/sanantonio.jpg" /><p class="text-center">San Antonio Spurs = SAS</p><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/toronto.jpg" /><p class="text-center">Toronto Raptors = TOR</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/utah.jpg" /><p class="text-center">Utah Jazz = UTA</p><br />
                        </div>
                        <div class="col-sm-4">
                            <img class="teamLogos" src="~/img/washington.jpg" /><p class="text-center">Washington Wizards = WAS</p><br />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
